# Data sources
In this section we will discuss two different ways to get financial data with Python
- pandas-datareader
- Quandl

## Pandas-datareader
Pandas-datareader is a separate package that allows you to connect to Google's Stock API (as well as others) and grab securities data and read it in as a DataFrame!

## Quandl
Quandl is a company that offers a robust python API that allows you to grab data from a variety of sources (from free, some paid).
Quandl is free to use, you need a free API key to do more than 50 free queries a day.

- Sometimes these libraries have issues if you have a firewall or are based in a certain geographical region.

## Note on Pandas Datareader
Yahoo and google have changed their APIs and are sometimes unstable. Use the code "iex" or "morningstar" instead.

For the most up to date string codes, please refer to :

https://pandas-datareader.readthedocs.io/

# Use Quandl

In [2]:
import quandl

In [16]:
mydata = quandl.get('EIA/PET_RWTC_D')

In [17]:
import matplotlib.pyplot as plt
%matplotlib inline

In [20]:
mtl_home_turnover = quandl.get("ZILLOW/C9825_TURNAH", authtoken="EiyXGe9hyXHJKb5yDtyU")

In [21]:
mtl_home_turnover.head()

             Value
Date
2012-04-30  0.9662
2012-05-31  0.9709
2012-06-30  0.9709
2012-07-31  1.9417
2012-08-31  1.9417

In [22]:
aapl=quandl.get('WIKI/AAPL')

In [25]:
aapl['Open']

Date
1980-12-12     28.750
1980-12-15     27.380
1980-12-16     25.370
1980-12-17     25.870
1980-12-18     26.630
1980-12-19     28.250
1980-12-22     29.630
1980-12-23     30.880
1980-12-24     32.500
1980-12-26     35.500
1980-12-29     36.000
1980-12-30     35.250
1980-12-31     34.250
1981-01-02     34.500
1981-01-05     33.870
1981-01-06     32.370
1981-01-07     31.000
1981-01-08     30.370
1981-01-09     31.880
1981-01-12     31.880
1981-01-13     30.630
1981-01-14     30.630
1981-01-15     31.250
1981-01-16     31.120
1981-01-19     32.870
1981-01-20     32.000
1981-01-21     32.500
1981-01-22     32.870
1981-01-23     32.870
1981-01-26     32.370
               ...
2018-02-13    161.950
2018-02-14    163.045
2018-02-15    169.790
2018-02-16    172.360
2018-02-20    172.050
2018-02-21    172.830
2018-02-22    171.800
2018-02-23    173.670
2018-02-26    176.350
2018-02-27    179.100
2018-02-28    179.260
2018-03-01    178.540
2018-03-02    172.800
2018-03-05    175.210
2018-03-06    177.910
2018-03-07    174.940
2018-03-08    175.480
2018-03-09    177.960
2018-03-12    180.290
2018-03-13    182.590
2018-03-14    180.320
2018-03-15    178.500
2018-03-16    178.650
2018-03-19    177.320
2018-03-20    175.240
2018-03-21    175.040
2018-03-22    170.000
2018-03-23    168.390
2018-03-26    168.070
2018-03-27    173.680
Name: Open, Length: 9400, dtype: float64